commands:
  01_hello:
    command: "echo 'Beam start: Hello from Elastic Beanstalk!'"

  02_log_npm:
    command: "echo 'Installing npm packages...'"
  
  03_log_start:
    command: "echo 'Finishing up setup...'"

container_commands:
  01_install:
    command: "npm install"
    cwd: "/var/app/staging"
